<link rel="stylesheet" href="css/home.css" />
<div class="content">
  <h1 class="title">
    ❤️abt this site❤️
  </h1>
  <hr class="spacer" />
  <p class="blockquote">
    forging a future where we use poison for medicine <br />
    out of necessity and for that understanding like love <br />
    or something
  </p>
  <hr class="spacer" />
  <div class="body">
    <p>hello spacekid</p>
    <hr class="spacer" />
    <p>i know what it's like 2 h8 promoting yourself</p>
    <p>i also know what it's like 2 b addicted to shitty clicker games</p>
    <p>whose algos are as addictive as they are parasitic</p>
    <hr class="spacer" />
    <p>don't worry-- i won't drink ur blood bc 💖 i love you 💖</p>
    <p>don't let the bloodsuckerz get to you, baby super trooper</p>
  </div>
  <hr class="divider" />

  <h3>
    ✨ abt me ✨
  </h3>
  <hr class="spacer" />
  <p class="body"></p>
  <p>hey im phi</p>
  <hr class="spacer" />
  <p>people have described me as chronically, terminally online etc</p>
  <p>i have been around for a good while, practically a walking jpeg artifact</p>
  <hr class="spacer" />
  <p> ive been into trees recently. theyre really cool. try googling magnolia tree reproduction its pretty sick
  </p>
</div>
