<div class="content">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/test.js"></script>
    <style>
      body {
/*         background-color:black; */
/*         background-image:none; */
/*         color:white; */
      }
    </style>

    <button onclick="nuke_users();">
      NUKE USERS
    </button>
    <button onclick="nuke_storage();">
      NUKE STORAGE
    </button>
    <button onclick="all_users();">
      all_users
    </button>
    <p id="text">
    this page is loaded<br>
    </p>
</div>
