#profile-name {
top:-46px;
  left:-24px;
  position:absolute;
}
/*For smaller screens*/
@media screen and (max-width: 500px) {
#profile-name {
top:-46px;
  left:initial;
  position:absolute;
}
}


      